{% extends 'logtime/layouts/base.html' %}
{% load mathfilters %}
{% load custom_tags %}
{% load static %}

{% block page_title %}Daily{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'logtime/js/node_modules/izimodal/js/iziModal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'logtime/js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'logtime/js/common/timer.js' %}"></script>
<script type="text/javascript" src="{% static 'logtime/js/pages/daily/time-record.js' %}"></script>
<script type="text/javascript" src="{% static 'logtime/js/pages/daily/script.js' %}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'logtime/js/node_modules/izimodal/css/iziModal.min.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper js-timesheet-view">
  <div class="day-view-wrapper js-view-wrapper">
    <div class="flash-wrap js-flash-wrap">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <header class="timesheet-header clearfix js-timesheet-header">
      <div class="fl-left">
        <h1 class="mb-0">{{ daily_date|date:"l" }} <span class="date">{{ daily_date|date:"j" }} {{ daily_date|date:"M" }}</span></h1>
        <h2 class="print-only">Timesheet for Haseeb Jehanzeb</h2>
      </div>
      <div class="fl-right do-not-print">
        <span class="form-loading loading-week">&nbsp;</span>
        <div class="hui-button-toggle ml-5">
          <a class="hui-button button-icon-only button-toggle-arrow js-navigate-by-url test-previous" href="{% url 'daily' previous_week_date|date:"d" previous_week_date|date:"m" previous_week_date|date:"Y" %}" title="Previous"><i data-icon="arrow-left"></i></a> <button class="hui-button js-today hui-button-selected" title="Jump to Now" type="button">Today</button> <a class="hui-button button-icon-only button-toggle-arrow js-navigate-by-url test-next" href="{% url 'daily' next_week_date|date:"d" next_week_date|date:"m" next_week_date|date:"Y" %}" title="Next"><i data-icon="arrow-right"></i></a>
        </div><button aria-expanded="false" aria-haspopup="true" class="hui-button button-icon-only ml-5" data-popover="" id="calendar-button" title="Change Date" type="button"><i data-icon="calendar"></i></button>
        <div aria-hidden="true" aria-labelledby="calendar-button" class="popover js-calendar-wrap" role="menu">
          <div class="kalendae">
            <div class="k-calendar" data-cal-index="0" data-datestart="2019-02-01T12">
              <div class="k-title k-disable-year-nav">
                <a class="k-btn-previous-year"></a><a class="k-btn-previous-month"></a><a class="k-btn-next-year"></a><a class="k-btn-next-month"></a><span class="k-caption">February 2019</span>
              </div>
              <div class="k-header">
                <span class="" data-day="0">Mo</span><span class="" data-day="1">Tu</span><span class="" data-day="2">We</span><span class="" data-day="3">Th</span><span class="" data-day="4">Fr</span><span class="" data-day="5">Sa</span><span class="" data-day="6">Su</span>
              </div>
              <div class="k-days">
                <span class="k-out-of-month k-active" data-date="2019-01-28T12">28</span><span class="k-out-of-month k-active" data-date="2019-01-29T12">29</span><span class="k-out-of-month k-active" data-date="2019-01-30T12">30</span><span class="k-out-of-month k-active" data-date="2019-01-31T12">31</span><span class="k-selected k-in-month k-active k-today" data-date="2019-02-01T12">1</span><span class="k-in-month k-active" data-date="2019-02-02T12">2</span><span class="k-in-month k-active" data-date="2019-02-03T12">3</span><span class="k-in-month k-active" data-date="2019-02-04T12">4</span><span class="k-in-month k-active" data-date="2019-02-05T12">5</span><span class="k-in-month k-active" data-date="2019-02-06T12">6</span><span class="k-in-month k-active" data-date="2019-02-07T12">7</span><span class="k-in-month k-active" data-date="2019-02-08T12">8</span><span class="k-in-month k-active" data-date="2019-02-09T12">9</span><span class="k-in-month k-active" data-date="2019-02-10T12">10</span><span class="k-in-month k-active" data-date="2019-02-11T12">11</span><span class="k-in-month k-active" data-date="2019-02-12T12">12</span><span class="k-in-month k-active" data-date="2019-02-13T12">13</span><span class="k-in-month k-active" data-date="2019-02-14T12">14</span><span class="k-in-month k-active" data-date="2019-02-15T12">15</span><span class="k-in-month k-active" data-date="2019-02-16T12">16</span><span class="k-in-month k-active" data-date="2019-02-17T12">17</span><span class="k-in-month k-active" data-date="2019-02-18T12">18</span><span class="k-in-month k-active" data-date="2019-02-19T12">19</span><span class="k-in-month k-active" data-date="2019-02-20T12">20</span><span class="k-in-month k-active" data-date="2019-02-21T12">21</span><span class="k-in-month k-active" data-date="2019-02-22T12">22</span><span class="k-in-month k-active" data-date="2019-02-23T12">23</span><span class="k-in-month k-active" data-date="2019-02-24T12">24</span><span class="k-in-month k-active" data-date="2019-02-25T12">25</span><span class="k-in-month k-active" data-date="2019-02-26T12">26</span><span class="k-in-month k-active" data-date="2019-02-27T12">27</span><span class="k-in-month k-active" data-date="2019-02-28T12">28</span><span class="k-out-of-month k-active" data-date="2019-03-01T12">1</span><span class="k-out-of-month k-active" data-date="2019-03-02T12">2</span><span class="k-out-of-month k-active" data-date="2019-03-03T12">3</span><span class="k-out-of-month k-active" data-date="2019-03-04T12">4</span><span class="k-out-of-month k-active" data-date="2019-03-05T12">5</span><span class="k-out-of-month k-active" data-date="2019-03-06T12">6</span><span class="k-out-of-month k-active" data-date="2019-03-07T12">7</span><span class="k-out-of-month k-active" data-date="2019-03-08T12">8</span><span class="k-out-of-month k-active" data-date="2019-03-09T12">9</span><span class="k-out-of-month k-active" data-date="2019-03-10T12">10</span>
              </div>
            </div>
          </div>
        </div>
        <div class="hui-button-toggle ml-5">
          <button aria-disabled="true" class="hui-button hui-button-selected" tabindex="-1" title="Day View" type="button">Day</button> <a class="hui-button" href="/time/week/2019/1/28/1164698" title="Week View">Week</a>
        </div>
      </div>
    </header>
    <section>
      <div class="day-view-table" data-timesheet-date="{{ daily_date|date:"Y-m-d" }}">
        <div class="new-time-entry-container js-new-time-entry-container">
          <button class="button-new-time-entry js-new-time-entry test-new-time-entry" type="button">
          <div class="hui-button hui-button-primary w-100 p-0">
            <svg class="new-entry-icon" height="36" viewbox="0 0 12 12" width="36" xmlns="http://www.w3.org/2000/svg">
            <polygon points="12,5 7,5 7,0 5,0 5,5 0,5 0,7 5,7 5,12 7,12 7,7 12,7"></polygon></svg>
          </div>
          <div class="mt-5">
            New Entry
          </div></button>
        </div>
        <ul class="day-view-week-nav do-not-print js-week-nav">
          {% for datei, week_record in new_weekly_dictionary.items %}
          <li>
            <a class="hui-button test-Monday test-not-today {% if week_record.created_date_only.day == daily_date.day %}hui-button-selected is-today{% endif %}" href="{% url 'daily' week_record.created_date_only|date:"d" week_record.created_date_only|date:"m" week_record.created_date_only|date:"Y" %}" title="{{week_record.created_date_only|date:"l"}}">{{week_record.created_date_only|date:"D"}} <span>{{ week_record.total_time_sec|gettimeview }}</span></a>
          </li>
          {% endfor %}
          <li>
            <div id="day-view-week-nav-total">
              Total: <strong class="test-week-total">{{ total_time_week|gettimeview }}</strong>
            </div>
          </li>
        </ul>
        <ul class="day-view-entry-list js-day-view-entry-list" data-test-day="2019-02-01">
          {% for time_record in records_list %}
          <li class="day-view-entry test-entry-{{ time_record.id }}">
            <table>
              <tbody>
                <tr id="timesheet_day_entry_937683817" class="timesheet-entry-row" data-index="{{ forloop.counter0 }}">
                  <td>
                    <div class="entry-info">
                      <div class="project-client">
                        <span class="project">[{{ time_record.project.project_key }}] {{ time_record.project.name }}</span> <span class="client">({{ time_record.project.client.name }})</span>
                      </div>
                      <div class="task-notes">
                        <span class="task">{{ time_record.task_type.name }}</span> <span class="ndash">–</span>
                        <p><span class="notes">{{ time_record.summary }}</span></p>
                      </div>
                    </div>
                  </td>
                  <td class="entry-time">{{ time_record.total_time_in_sec|gettimeview }}</td>
                  <td class="entry-button do-not-print"><button class="hui-button hui-button-large js-start-timer start-stop-timer" id="start-button-937683817" type="button"><svg class="icon-timer" height="22" viewbox="0 0 22 22" width="22">
                  <circle class="icon-timer-face" cx="11" cy="11" r="10" stroke-width="2"></circle>
                  <path class="icon-timer-hand" d="M12.8 10.2L11 2l-1.8 8.2-.2.8c0 1 1 2 2 2s2-1 2-2c0-.3 0-.6-.2-.8z"></path></svg> Start</button></td>
                  <td class="edit-button do-not-print"><button class="hui-button hui-button-small button-icon-only js-edit-entry" title="Edit Entry" type="button"><i data-icon="edit"></i></button></td>
                </tr>
              </tbody>
            </table>
          </li>
          {% endfor %}
          <li class="day-view-entry">
            <table>
              <tbody>
                <tr id="day_entry_replacement">
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
        <div class="day-view-summary js-day-view-summary">
          <div class="day-view-total">
            Total: <span>{{ new_weekly_dictionary|get_day_total:daily_date|gettimeview }}</span>
          </div>
        </div>
        <div class="hui-empty is-capped js-empty-view is-spacious" hidden="">
          <div class="do-not-print">
            “The wisest are the most annoyed at the loss of time.”<br>
            – Dante Alighieri
          </div>
          <div class="print-only">
            No time tracked for this week!
          </div>
        </div>
      </div>
      <div class="js-setup-time-tracking-reminder">
        <div aria-hidden="true" class="js-setup-time-tracking-reminder-dialog hui-dialog-backdrop" data-focus-wrap="" data-path="/people/1164698/setup_reminder" id="setup-time-tracking-reminder">
          <div aria-describedby="setup-time-tracking-reminder-title" aria-label="Set Up Time Tracking Reminders" class="hui-dialog hui-dialog-medium" role="dialog">
            <div class="flex justify-center">
              <svg class="hui-spin o-30" height="30" viewbox="0 0 16 16" width="30" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="2" r="2"></circle>
              <circle cx="4" cy="4" opacity="0.75" r="2"></circle>
              <circle cx="2" cy="8" opacity="0.5" r="2"></circle>
              <circle cx="4" cy="12" opacity="0.25" r="2"></circle></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="timesheet-bottom clearfix">
        <div class="inline-block js-timesheet-footer"></div>
        <div class="approval-button js-timesheet-approval"></div>
      </div>
    </section>
  </div>
</div>

<!--=======================================
=            Modal window html            =
========================================-->
<div aria-hidden="false" class="hui-dialog-backdrop hui-dialog-open" style="display: none;">
  <div aria-labelledby="modal-time-entry-title" class="modal-time-entry hui-dialog" role="dialog">
    <h1 class="hui-dialog-title" id="modal-time-entry-title">New Time Entry <span class="js-spent-at-display spent-at-display">Thursday, 21 Feb</span></h1>
    <div class="js-editor">
      <form class="form day-entry-editor">
        <div class="hui-form-field mb-10 js-projects">
          <label class="hui-label inline-block mb-5">Project / Task</label>
          <div class="fl-right js-project-info"></div>
          <div class="chosen-container chosen-container-single" style="width: 100%;" title="">
            <select class="js-project-selector hui-input chosen-with-popover chosen-like-select" name="project_id" >
            {% for project in projects %}
            <optgroup label="{{ project.client.name }}">
              <option selected value="{{ project.id }}" data-key="{{ project.project_key }}">
                {{ project.name }}
              </option>
            </optgroup>
            {% endfor %}
            </select>
            <div class="chosen-drop">
              <div class="chosen-search">
                <input autocomplete="off" class="chosen-search-input" type="text">
              </div>
              <ul class="chosen-results"></ul>
            </div>
          </div>
        </div>
        <div class="hui-form-field mb-10 js-tasks">
          <!-- placeholder for 2nd dropdown if needed -->
        </div>
        <div class="hui-form-field mb-10 duration">
          <div class="notes-container">
            <textarea class="hui-input entry-notes js-notes" name="notes" placeholder="Notes (optional)"></textarea> <span class="hui-form-field-notes shift-enter-helper-text"><kbd>Shift+Return</kbd> for line break</span>
          </div><input class="hui-input js-hours hours-input" name="hours" placeholder="0:00" type="text" value="">
          <div class="js-validation-error-placeholder hours-validation-error" data-for="hours"></div>
        </div>
        <div class="hui-form-field-actions mt-20 js-form-buttons" style="height: 80px;">
          <button class="hui-button hui-button-large hui-button-primary start-timer-button js-submit" type="button">Start Timer</button> <button aria-label="Cancel and close dialog" class="hui-button hui-button-large hui-button-cancel js-close close-new-entry-modal" type="button">Cancel</button> <span class="form-loading js-loading">Saving…</span> <span class="form-success js-success">Saved!</span>
          <div class="fl-right additional-actions">
            <button class="hui-button hui-button-small hui-button-icon-left button-no-border js-change-date" hidden="" type="button"><svg height="12" viewbox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5h2v2H2V5zm3 0h2v2H5V5zm3 0h2v2H8V5zm0 3h2v2H8V8zM5 8h2v2H5V8zM2 8h2v2H2V8zm9-8H7v1H5V0H1v1H0v11h12V1h-1V0zM8 1h2v1H8V1zM2 1h2v1H2V1zM1 11V4h10v7H1z"></path></svg> Change Date</button> <input autocomplete="off" class="hui-input hui-input-small spent-at js-spent-at-field" data-datepicker="" hidden="" name="spent_at">
          </div>
        </div>
        <div class="hui-form-field-actions mt-20 entry-delete-confirmation js-entry-delete-confirmation" hidden="">
          Permanently delete this time entry? &nbsp; <button class="hui-button hui-button-small hui-button-important js-confirm-delete-entry" type="button">Delete</button> <button class="hui-button hui-button-small hui-button-cancel js-cancel-delete-entry" type="button">Cancel</button>
        </div>
        <div class="hui-form-field-actions mt-20 timer-start-confirmation js-timer-start-confirmation" hidden="">
          <span>This is not today’s timesheet. Start the timer anyway?</span> &nbsp; <button class="hui-button hui-button-small hui-button-primary js-confirm-start-timer" type="button">Start Timer</button> <button class="hui-button hui-button-small hui-button-cancel js-cancel-start-timer" type="button">Cancel</button>
        </div>
      </form>
    </div>
    <div class="popover popover-helper is-right duration-helper timesheets-2017-tweaks js-duration-helper">
      Leave this blank to start a timer. You can also enter time as 1.5 or 1:30 (they both mean 1 hour and 30 minutes). <button class="hui-button-text-link js-dismiss-ftux-message" type="button">Don’t show this again</button>
    </div>
  </div>
</div>
<!--====  End of Modal window html  ====-->
{% endblock %}
