{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}Home Page{% endblock %} - Time Logger</title>

  <link rel="stylesheet" type="text/css" href="{% static 'logtime/css/style.css' %}">
  {% block stylesheets %}
  {% endblock %}
</head>
<body>
  <div class="content-container">
      {% block content %}
      {% endblock %}
  </div>
  <footer>
    <script src="{% static 'logtime/js/common/jquery.js' %}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block javascripts %}
    {% endblock %}
  </footer>
</body>
</html>
